<link rel="stylesheet" href="/static/css/style.css">

<!-- About Section -->
<section id="about" class="about-section py-5 bg-black text-white">
  {{#each aboutData}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h2 class="about-title">{{this.title}}</h2>
        <p class="about-text">
          Welcome to <strong>{{this.name}}</strong>, {{this.description}}
        </p>
        <p class="about-text">
          {{this.description2}}
        </p>
        <a href="#" class="btn btn-danger mt-3">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}
</section>
